<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge"
        http-equiv="X-UA-Compatible">
  <title>Alarm</title>
  <meta content="width=device-width, initial-scale=1"
        name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Lato"
        rel="stylesheet">
  <link href="timer.css"
        media="screen"
        rel="stylesheet"
        type="text/css">
  <script defer
        src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script defer
        src="timer.js"></script>
</head>
<body>
  <div class="content"
       id="app">
    <div class="volume">
      Volume: {{ data.vol }}
    </div>
    <div class="far fa-question-circle"
         data-target="#helpModal"
         data-toggle="modal"
         id="helpbutton"></div>
    <h1 class="title">Alarm</h1><audio id="ring"
         ref="ring"
         src="ring.mp3"></audio>
    <div class="box">
      <form v-on:submit.prevent="createTimer">
        <input autocomplete="off"
              autofocus=""
              class="input"
              type="text"
              v-model="input">
      </form>
    </div>
    <div id="alarms">
      <div class="alarm"
           v-for="alarm in data.alarms">
        <div class="comment">
          {{ alarm.comment }}
        </div>
        <div class="display">
          {{ getTimerString(alarm.time) }}
        </div>
        <div class="fas fa-times delete"></div>
      </div>
    </div>
    <div class="modal"
         id="helpModal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-dialog-centered"
           role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Usage</h5><button aria-label="Close"
                 class="close"
                 data-dismiss="modal"
                 type="button">
            <div aria-hidden="true"
                 class="fas fa-times delete"></div></button>
          </div>
          <div class="modal-body">
            <h5>Countdown:</h5>hours: hrs/hr/h/std<br>
            Minutes: min/m/mins<br>
            Seconds: s/sec/sek<br>
            Example: 6m9s<br>
            <br>
            <h5>Alarm:</h5>[h]h:mm[:ss][@d[d].m[m].yyyy[y]]<br>
            Example: 13:37<br>
            <br>
            <h5>Comment:</h5>#<br>
            Example: 4h20m#blaze it!<br>
            <br>
            <h5>Volume:</h5>volume/vol[:] 0-100<br>
            Example: vol 20
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
