body {
	background: DarkSlateGrey;
	color: lightgray;
	font-family: 'Lato', sans-serif;
}

.content {
	width: 95%;
	margin: auto;
	max-width: 900px;
}

.title {
	text-align: center;
	font-size: 60pt;
	margin-top: 30px;
}

.box {
	font-size: 25pt;
}

.input {
	background: DarkSlateGrey;
	width: 100%;
	text-align: center;
	color: lightgray;
	border: solid lightgray 4px;
	border-radius: 4px;
}

#template {
	display: none;
}

.alarm {
	border-top: solid lightgray 4px;
	text-align: center;
	font-size: 45pt;
}

#alarms div:nth-child(1) {
	border-top-width: 0px;
}

.display {
	display: inline;
}

.delete {
	color: darkred;
	display: inline;
	font-size: 30px;
}

.delete:hover {
	cursor: pointer;
}

.comment {
	font-size: 15pt;
	position: absolute;
}

.volume {
	font-size: 15pt;
	line-height: 1;
	position: absolute;
}

#helpbutton {
	font-size: 20pt;
	float: right;
	height: 0;
}

#helpbutton:hover {
	cursor: pointer;
}

.modal-content {
	background: darkslategray;
	border-color: lightgray;
	border-width: 4px; 
}

.modal-header {
	border-width: 4px; 
}

.close {
	color: white;
	text-shadow: none;
	opacity: 1;
}

.close:hover {
	color: lightgray;
}

.modal-title {
	line-height: 1;
	font-size: 23pt;
}