input {
	text-align: center;
	max-height: 100% !important;
}

html {
	overflow: hidden;
}

.v-application {
	font-family: 'Lato', sans-serif;
}

.c_content {
	width: 95%;
	margin: auto;
	max-width: 900px;
}

.c_title {
	text-align: center;
	font-size: 60pt;
	margin-top: -10px;
}

.c_right {
	text-align: right;
}

.c_help {
	width: 600px;
}

.c_box {
	font-size: 25pt;
}

.c_alarmtext {
	width: 100%;
	text-align: center;
	line-height: normal;
	font-size: 45pt;
}

.c_alarm {
	width: 100%;
	margin-left: 12px;
	margin-right: 12px;
}

.c_divider {
	border-top: solid 2px;
}

.c_first {
	margin-top: -10px;
}

.c_delete {
	display: inline !important;
	margin-left: -10px;
	margin-bottom: -5px;
}

.v-icon:focus::after {
	opacity: 0 !important;
}

.v-icon {
	color: inherit !important;
}

.c_comment {
	position: absolute;
}

.v-text-field {
	padding-top: 0px;
}